@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --color-dallas-blue: #041E42;
  --color-dallas-silver: #869397;
  --color-dallas-gold: #B0976D;
  --color-dallas-cream: #F5F2ED;
  --color-dallas-navy: #13294B;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dallas-cream);
  color: var(--color-dallas-navy);
}